body {
  color: white;
  background-color: black;
}

.space {
  background-color: black;
  height: 500px;
  width: 100%;
}

.catiek {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 10em;
  /*border: 2px solid white;*/
}

.forever {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*font-family: 'Oxygen', sans-serif;*/
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Codystar', cursive;
  font-size: 3em;
  /*border: 2px solid white;*/
}

.meat {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 100;
  text-decoration: none;
}

#shaker {
  cursor: pointer;
}

#bubbles {
  cursor: pointer;
}
.scuba {
  display: none;
}

#baby {
  cursor: pointer;
}
#swim{
  display: none;
}

#red {
  cursor: pointer;
}
#paddle {
  display: none;
}

#avid {
  cursor: pointer;
}
.traveler {
  display: none;
}

div.a {
  width: 100px;
  height: 100px;
  position:fixed;
}

.intro {
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.developer {
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-size: 3em;
}

.appathy {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  padding: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: url('appathy');
  background-size: 365px 365px;
  background-repeat: no-repeat;
  color: black;
}

.appathy :visited {
  color: black;
}

.appathy :active {
  color: black;
}

.seekbot {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  padding: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: url('seekbot');
  background-size: 365px 365px;
  background-repeat: no-repeat;
  color: white;
}

.seekbot :visited {
  color: white;
}

.seekbot :active {
  color: white;
}

.panday {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  padding: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: url('pandas') ;
  background-size: 360px 360px;
  background-repeat: no-repeat;
  color: black;
}

.panday :visited {
  color: black;
}

.panday :active {
  color: black;
}

.lifetime {
  color: black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  padding: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: url('running') ;
  background-size: 365px 365px;
  background-repeat: no-repeat;
}

.lifetime :active {
  color: black;
}

.lifetime :visited {
  color: black;
}

.coral {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  padding: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: url('coral') ;
  background-size: 500px 450px;
  background-repeat: no-repeat;
  color: white;
}

.coral :active {
  color: white;
}

.coral :visited {
  color: white;
}


#glitter {
  /*background-image: url("twinkling2");*/
  color: white;
  font-family: 'Londrina Outline', cursive;
  font-size: 35px;
  width: 400px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px solid white;*/
}

#shaker {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*border: 2px solid white;*/
}

.big {
  font-family: 'Londrina Outline', cursive;
  font-size: 3em;
  background-color: black;
  color: white;
}

.contact {
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-size: 2em;
}

.contactspace {
  background-color: black;
  height: 50px;
  width: 100%;
}

#contactspace {
  background-color: black;
  height: 0px;
  width: 100%;
}

.carlton {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: url('catie') ;
  background-size: 165px 165px;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Oxygen', sans-serif;
}

.carlton :active {
  color: white;
}

.carlton :visited {
  color: white;
}

.links {
  font-size: 25px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.links :link {
  color: white;
  text-decoration: none;
}

.links :active {
  color: white;
  cursor: pointer;
}

.links :visited {
  color: white;
}

.links :hover {
  text-decoration: underline;
}

#github {
  text-align: left;
}

#linkedin {
  text-align: center;
}

#twitter {
  text-align: right;
}







/*twinkling*/

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.height {
  height: 550px;
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/*end twinkling*/

@media screen and (max-width: 900px) {
    .intro {
      width: 300px;
    }
    .height {
      font-size: 10px;
    }

}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

