<!DOCTYPE html>
<html>
<head>
  <title>Catiekennedy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Londrina+Outline' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
